body { 	background: black; }

h1 {color: blue; font-size: 22pt;} 

h2 {color: green; font-family: all; font-size: 17pt }

h3 {color: white; font-family: fantasy; font-size: 14pt }

h4 {color: white; font-family: unset; font-size: 14pt }




